


<div class="row justify-content-center">
    <div class="col-8">
        <div class="jumbotron">
              
                  <p class="font-weight-bold lead">Set up your deeper reflection questions!</p>
                  <p class="lead">
                  Beyond your day-to-day learnings, WDYLT can help you pause and take a deeper reflection on your week. Take the time to check in on what matters most to you!</p>
                  <hr class="my-4">
              <p>Below, please choose three questions that you want to ask yourself on a set cadence.</p>
            
        
        
        
        <form action="/submit_questions" method="post">
          <div class="form-group">
            <label for="question_1"><p class="font-weight-bold">First question</p></label>
            <input type="text" class="form-control" name="question_1" value="What did you do in the last week that you are proud of?">
          </div>
                    <div class="form-group">
            <label for="question_2"><p class="font-weight-bold">Second question</p></label>
            <input type="text" class="form-control" name="question_2" value="What did you do in the last week that you would do differently?">
          </div>
          <div class="form-group">
            <label for="question_3"><p class="font-weight-bold">Third question</p></label>
            <input type="text" class="form-control" name="question_3" value="What is the funniest thing that happened this week?">
          </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
        
        
    </div>
</div>